/* headings, cta, navigation */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
/* body */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
/* variables */
:root{
    --button-background:hsl(0, 100%, 68%);
    --main-text-color:hsl(230, 29%, 20%);
    --secondary-text-color:hsl(230, 11%, 40%);
    --pattern:hsl(231, 7%, 65%);
    --button-text:hsl(207, 33%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 2.5em 2em;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img{
    width: 1.5em;
}
/* mobile menu */
nav{
    position: absolute;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    z-index: 100;
    background-color: white;
    top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow Condensed';
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5em;
}
nav ul{
    list-style: none;
    width: 100%;
    font-size: 1.1em;
    letter-spacing: .035em;
    color: var(--main-text-color);
}
nav ul li:nth-child(2){
    margin: 1.4em 0;
}
nav #spacer{
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: .15;
    margin: 1.4em 0;
}

nav #login{
    color: var(--pattern);
}
