/* headings, cta, navigation */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
/* body */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
/* variables */
:root{
    --button-background:hsl(0, 100%, 68%);
    --main-text-color:hsl(230, 29%, 20%);
    --secondary-text-color:hsl(230, 11%, 40%);
    --pattern:hsl(231, 7%, 65%);
    --button-text:hsl(207, 33%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2.5em 0;
}
header .logo img{
    width: 1.5em;
}
/* mobile menu */
nav{
    position: absolute;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    z-index: 100;
    background-color: white;
    top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow Condensed';
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5em;
}
nav ul{
    list-style: none;
    width: 100%;
    font-size: 1.1em;
    letter-spacing: .035em;
    color: var(--main-text-color);
}
nav ul li:nth-child(2){
    margin: 1.4em 0;
}
nav #spacer{
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: .15;
    margin: 1.4em 0;
}

nav #login{
    color: var(--pattern);
}
main{
    display: flex;
    flex-direction: column-reverse;
}
.pattern{
    background-color: var(--button-text);
    height: 53vh;
    width: 50vw;
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    border-bottom-left-radius: 4em;
}
#image{
    width: 100%;
    margin-top: 3.5em;
    margin: 3.5em 0 0 0;
    overflow: hidden;
}
#image img{
    width: 132%;
    margin-left: 1em;
}
#text{
    margin-top: 5em;
    margin: 5em 2.5em 0;
    display: flex;
    flex-direction: column;
}
small{
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1em;
    color: var(--pattern);
    display: flex;
    align-items: center;
}
small span{
    color: white;
    background-color: var(--main-text-color);
    border-radius: 2em;
    padding: .2em .75em;
    font-weight: 700;
    letter-spacing: .03em;
    margin-right: 1em;
}
#text h1{
    margin-top: .35em;
    font-family: 'Barlow Condensed',sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    color: var(--main-text-color);
    line-height: 1.05em;
}
#text p{
    font-family: 'Barlow', sans-serif;
    color: var(--secondary-text-color);
    font-size: 1.1em;
    width: 90%;
    line-height: 1.4em;
    margin: 1em 0 1.5em;
}
#text .text-bottom{
    display: flex;
}
.text-bottom button{
    background-color: var(--button-background);
    color: white;
    border: 0;
    border-radius: .5em;
    padding: .9em 1.75em;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: .075em;
}
.text-bottom small{
    font-size: .8em;
    margin-left: 1.75em;
}

@media(min-width:768px){
    body {
        padding: 4em 0;
    }
    header {
        padding: 0 10em;
    }
    header .logo img {
        width: 1.85em;
    }
    /* desktop menu */
    nav {
        position: relative;
        width: 50%;
        box-shadow: none;
        background-color: transparent;
        top: 0;
        display: flex;
        margin-right: 0;
        margin-left: auto;
        padding: 0;
    }
    nav ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1em;
    }
    nav ul li:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    nav ul li:nth-child(2) {
        margin: 0 2.5em;
    }
    nav #spacer {
        width: .35em;
        height: .35em;
        border-radius: 50%;
        margin: 0 3em;
    }
    main{
        flex-direction: row;
        margin-top: 3.5em;
    }
    #image {
        width: 52.5%;
    }
    #image img {
        width: 135%;
    }
    #text {
        width: 47.5%;
        margin: 6.5em 0 0 10em;
    }  
    #text h1 {
        width: 90%;
        margin-top: .25em;
        font-size: 4em;
    }
    #text p {
        width: 45%;
        line-height: 1.5em;
        margin: 1.5em 0 3.5em;
    }
    .text-bottom button {
        font-size: 1em;
        font-weight: 700;
        padding: .9em 1.75em;
    }
    .text-bottom button:hover {
        cursor: pointer;
        opacity: .75;
    }
    .text-bottom small {
        font-size: .9em;
    }
}